*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus{
    outline: none;
}

.container{
    width: 100%;
    /* min-height: 50px */
}

.header{
    width: 100%;
    padding: 10px;
    display: flex;
    background: white;
    box-shadow: 2px 2px 2px grey;
}

.logo{
    width: 15%;
    display: flex;
    justify-content: space-around;
    height: 30px;
}

.logo>img{
    width: 60%;
    margin: 0px auto;
    /* padding: 0 20px */
}

.search{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

input{
    background: lightgray;
    color: gray;
    padding: 6px;
    line-height: 1.5;
    border: none;
    width: 60%;
    font-size: 12px;
}

span{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
}

.search>.fas, .search>input, .search>span{
    margin:auto 0px;
}

.main-section{
    width: 100%;
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
}

.side-bar{
    width: 15%;
    background: #0d0c23;
}

.admin-descript{
line-height: 0
}

.right-section{
    width: 85%;
    padding: 20px;
    padding-bottom: 40px;
    background: #f0f0f0eb;
}

.top-view{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px
}

.cat-view{
    width: 20%;
    padding: 10px;
    background: white;
    display: flex;
    justify-content: space-around
}

.icon-div>.fas{
    padding:10px;
    border-radius: 15px;
    background: white;
}

.disc-div>h2,.disc-div>span{
    color: white;
}

.disc-div{
    width: 70%
}

.icon-div{
    width: 20%; 
}

h2{
    font-size: 15px;
    line-height: 1.4;
    font-weight: 600;
}

.down-view{
    width: 100%;
}

.extra-search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.products-display{
    width: 100%;
    background: white;
    padding: 10px;
    margin: 10px 0;

}

.side-bar{
    padding: 10px;
    color: #9796addb;
}

.admin-page{
    padding: 10px;
    /* background: white; */
    text-align: center;
}

.admin-descript> h2{
    color: white;
    padding-bottom: 0px;
}

.admin-descript>span{
    padding-top: 1px;
    color: #9796addb;
    font-size: 8px;
}

.image{
    width: 30%;
    margin: 0 auto;
}
.image>img{
    width: 100%;
    border-radius: 70px;
    height: 40px;
}

.side-category{
    width: 100%;
    padding: 20px 0;
    background: #0d0c23;
    /* margin-top: 40px */
}

.category>.side-select{
    display: flex;
    padding: 2px 10px;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between
}

.sidebar-icon{
    font-size: 12px;
    padding-top: 4px;
    padding-right: 10px;
}

.selected-side-icon>div> .sidebar-icon{
    color: orange;
}

.drop-down{
    display: block;
    float: right;
}

.side-select>div{
    display: flex;
}

.selected-side-icon{
    background:  #1d1c38;
    color: white;
}

.green{
color: green;
background: green
}

.blue{
    color: blue;
    background: blue;
}

.orange{
    color: orange;
    background: orange
}

.red{
    color: red;
    background: red
}

.products{
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto auto  auto auto;
}

.item-div{
    margin: 2%;
    padding: 10px;
    box-shadow: 1px 1px 1px grey;
}

.image-div{
    background: yellow;
    height: 200px;
    /* width: 100%; */
}

.image-div>img{
    max-width: 100%;
    height:  100%;
}

.priceItemNo{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.price{
    color: #ec0707
}

.grey{
    color: grey;
    font-size: 12px
}

.blue{
    color:blue;
}

select, button{
    width: 120px;
    border: none;
    border: 1px solid white;
    border-radius: 2px;
    padding: 4px;
    color: #907a7a;
    background: white;
}

button{
    color: red
}

.pagination {
    display: inline-block;
    background: white;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .footer-div{
      display: flex;
      justify-content: flex-end
  }

  .more{ 
    width: 40%;
    text-align: center;
    color: #ffffff;
    background: #ffa500;
    padding: 2px;
    font-size: 12px;
    font-weight: 600;
    box-shadow: 2px 2px 2px #cecece;
  }

  